@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Roboto&display=swap');

*{
    font-family: 'Roboto';
    color: white;
}

body{
    background-size: cover;
}

.reading{
    font-size: 2.5rem;
    width: 100vw;
    margin: 0;
}

.ola{
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

.volume{
    float: right;
    margin: 0;
    padding: 0;
}


.gifs{
    width: 200px;
    border-radius: 100px;
}


.velocidade{
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}


.e{
    font-size: 2rem;
}